<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css"
        integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="/css/custombootstrap.css">
    <link rel="stylesheet" href="/css/custom.css">
    <title>Dream Diary | Dashboard</title>
</head>

<body>
    {{> _navbar }}

    <div class="container overlay form-container text-white">
        <div class="row justify-content-around">
            <div class="col-md-3 menu mt-5">
                <div class="text-center">
                    <img src="/images/me.png" class="mt-3" alt="profile-image" width="30%" style="border-radius:50%">
                    <p class="m-1">Mr.John <span class="text-primary">Doe</span> </p>
                    <p class="m-1"><span class="text-info">johndoe</span>@gmail.com</p>
                    <small>Welcome to your dashboard...</small>
                </div>
                <hr>
                <ul class="my-list-group">
                    <li class="my-list-group-item "><a class="dashboard-link" href="/auth/dashboard">My Dreams<span
                                class="badge badge-pill badge-info float-right">
                                19</a></span>
                    </li>
                    <li class="my-list-group-item active"><a href="/auth/dashboard/add-dream" class="dashboard-link">Add
                            Dreams</a></li>
                </ul>
            </div>
            <div class="col-md-8  mt-5">
                {{{body}}}
            </div>
        </div>
    </div>
    {{> _footer }}

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
    <script src="//cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#dreamsTable').DataTable();
            document.querySelector('.previous').setAttribute('style', 'color:white !important;');;
            document.querySelector('.next').setAttribute('style', 'color:white !important;');;
        });

    </script>
</body>

</html>