<h2>Your dream logs</h2>
<small>read through, update or delete dream logs...</small>
<hr>

<div class="playground mt-4">
    <table id="dreamsTable" class="table text-white">
        <thead class="text-info">
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Visibility</th>
                <th scope="col">Created At</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            {{#each dreams}}
            <tr>
                <td>{{title}}</td>
                <td>{{visibility}}</td>
                <td>{{formatDate createdAt 'MMMM Do YYYY, h:mm a'}}</td>
                <td>Edit/Delete</td>
            </tr>
            {{else}}
            <tr class="text-center">
                <td colspan="5">No dreams! Go add some..</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>