<h2>Your dream logs</h2>
<small>read through, update or delete dream logs...</small>
<hr>

<div class="playground mt-4">
    <table id="dreamsTable" class="table text-white">
        <thead class="text-info">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Visibility</th>
                <th scope="col">Created At</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Bizzare World</td>
                <td>Public</td>
                <td>June 6, 1992</td>
                <td>Edit/Delete</td>
            </tr>
        </tbody>
    </table>
</div>