<div class="container overlay form-container text-white">
    <div class="text-center mb-3 pt-4">
        <h1>Public dreams</h1>
        <small>Read them and see what unfolds.....</small>
        <hr>
    </div>
    <div class="row justify-content-center align-items-around mt-5">
        <div class="col-md-4 mb-4 ">
            <div class="card p-2 bg-dark-trans">
                <div class="card-body">
                    <a href="/dreams/some-id">
                        <h5 class="card-title text-info"> <strong>Bizzaro world</strong></h5>
                    </a>
                    <p class="card-text text-white">Some quick example text to build on the card title and make up the
                        bulk of the
                        card's content.......</p>
                    <h6 class="card-subtitle mb-2 text-info text-right">- sammyp</h6>
                    <a href="/dreams/some-id" class="btn btn-outline-info">Read More</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4 ">
            <div class="card p-2 bg-dark-trans">
                <div class="card-body">
                    <a href="/dreams/some-id">
                        <h5 class="card-title text-info"> <strong>Bizzaro world</strong></h5>
                    </a>
                    <p class="card-text text-white">Some quick example text to build on the card title and make up the
                        bulk of the
                        card's content.......</p>
                    <h6 class="card-subtitle mb-2 text-info text-right">- sammyp</h6>
                    <a href="/dreams/some-id" class="btn btn-outline-info">Read More</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4 ">
            <div class="card p-2 bg-dark-trans">
                <div class="card-body">
                    <a href="/dreams/some-id">
                        <h5 class="card-title text-info"> <strong>Bizzaro world</strong></h5>
                    </a>
                    <p class="card-text text-white">Some quick example text to build on the card title and make up the
                        bulk of the
                        card's content.......</p>
                    <h6 class="card-subtitle mb-2 text-info text-right">- sammyp</h6>
                    <a href="/dreams/some-id" class="btn btn-outline-info">Read More</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4 ">
            <div class="card p-2 bg-dark-trans">
                <div class="card-body">
                    <a href="/dreams/some-id">
                        <h5 class="card-title text-info"> <strong>Bizzaro world</strong></h5>
                    </a>
                    <p class="card-text text-white">Some quick example text to build on the card title and make up the
                        bulk of the
                        card's content.......</p>
                    <h6 class="card-subtitle mb-2 text-info text-right">- sammyp</h6>
                    <a href="/dreams/some-id" class="btn btn-outline-info">Read More</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4 ">
            <div class="card p-2 bg-dark-trans">
                <div class="card-body">
                    <a href="/dreams/some-id">
                        <h5 class="card-title text-info"> <strong>Bizzaro world</strong></h5>
                    </a>
                    <p class="card-text text-white">Some quick example text to build on the card title and make up the
                        bulk of the
                        card's content.......</p>
                    <h6 class="card-subtitle mb-2 text-info text-right">- sammyp</h6>
                    <a href="/dreams/some-id" class="btn btn-outline-info">Read More</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4 ">
            <div class="card p-2 bg-dark-trans">
                <div class="card-body">
                    <a href="/dreams/some-id">
                        <h5 class="card-title text-info"> <strong>Bizzaro world</strong></h5>
                    </a>
                    <p class="card-text text-white">Some quick example text to build on the card title and make up the
                        bulk of the
                        card's content.......</p>
                    <h6 class="card-subtitle mb-2 text-info text-right">- sammyp</h6>
                    <a href="/dreams/some-id" class="btn btn-outline-info">Read More</a>
                </div>
            </div>
        </div>
    </div>
</div>