<div class="container overlay-dream form-container text-white">
    <div class="text-center mb-1 pt-4">
        <h1 class="text-gray">Upside down world</h1>
        <div class="text-right">
            <small class="mr-3"><a href="#"><i class="fas fa-pen-nib"></i> Sammy P</a> </small>
            <small><i class="fas fa-calendar"></i> June 2, 2020</small>
        </div>
        <hr>
    </div>
    <div class="p-4 dream-body">
        <p class="dream-body-para">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate veniam minus facere, accusantium ex ut
            nemo
            qui quia neque vitae repudiandae nobis facilis quam pariatur sequi a? Libero sed distinctio mollitia.
            Voluptatumepudiandae nobis facilis quam pariatur sequi a? Libero sed distinctio mollitia.
            Voluptatum
            iure hic similique eos
        </p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem voluptate aliquam dolorum provident nesciunt,
            doloribus voluptas pari
            id ullam et sed necessitatibus! Quas officiis accusantium, suscipit beatae quod minus cum perferendis ea
            assumenda ducimus facere? Ofure repudiandae eos voluptatum illo expedita dolorum impedit cupiditate, velit
            odio, tempora reprehenderit! Praesentium, repellendus earum inventore dolores dolor nesciunt enim
            dignissimos
            eum voluptas deserunt assumenda ducimus accusantium nihil animi asperiores maiores cumque. Quos quo dolore,
            id
            cupiditate sapiente deleniti sit.</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quaerat aliquam excepturi doloribus error
            repudiandae
            velit vel perspiciatis est, neque p
            facilis mollitia illum, dignissimos fugiat quasi eligendi ex, hic sunt dolorem quae incidunt. Totam facere
            minima quasi veniam distinctio laborum corrupti dicta impedit soluta enim dolorem eligendi ipsa, at qui
            magni
            illum, tenetur omnis deserunt autem nulla molestias. Debitis iusto corrupti beatae ea dolor illo non cumque
            cum
            eos?</p>
        Tags: <em>tag1, tag2, tag3</em>
        <div class="mt-3">
            <a href="#" class="btn btn-outline-info">More by sammpy</a>
        </div>

    </div>
</div>
{{> _footer }}