{{!-- Our landing page --}}
<header>
    <div class="d-flex flex-column justify-content-center align-items-center  text-center " style="height:64vh">
        <div class="tagline">
            <p class=" display-3"><strong>Log your <span class="text-primary">dreams</span> </strong></p>
            <p>and see what unfolds...</p>
        </div>
        <div class="btns mt-2">
            <a href="/auth/register" class="btn btn-dark">Join Us</a>
        </div>
    </div>
</header>
{{> _footer_fixed }}