{{!-- Our landing page --}}
<header>
    <div class="d-flex flex-column justify-content-center align-items-center text-white text-center overlay"
        style="height:65vh">
        <div class="tagline">
            <p class=" display-3"><strong>Log your dreams</strong></p>
            <small>and see what unfolds...</small>
        </div>
        <div class="btns mt-5">
            <a href="/dreams" class="btn btn-outline-info">Read Dreams</a>
            <a href="/auth/login" class="btn btn-info">Join Us</a>
        </div>
    </div>
</header>