<div class="text-white text-center overlay" style="height:65vh">
    <i class="fas fa-exclamation-triangle fa-6x mt-5"></i>
    <p class="display-4 mt-4">{{status}}</p>
    <p class="display-4 mt-4">{{message}}</p>
    <p class="lead">The specified resource was not found in this server.....</p>
</div>